body {
  background: #f9f7fe;
  font-family: "PT Serif", serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
main {
  padding: 20px 0;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
a {
  color: #885df1;
}

#search-input {
  border-radius: 6px;
  font-size: 16px;
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  padding: 20px;
  width: 75%;
}
.search-button {
  color: #fff;
  background: #885df1;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  font-size: 16px;
  line-height: 1;
  padding: 20px;
}
.container {
  max-width: 600px;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-weather p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-weather strong {
  color: #885df1;
}
.current-temperature {
  font-size: 48px;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}
.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 5px;
  color: rgba(39, 33, 66, 0.4);
}
